@import '../../../styles/shared.scss';

.filter-by-price {
    padding: $vertical-sidebar-padding 0;
    border-bottom: $sidebar-divider;

    & input {
        display: block;
        width: 100%;
    }

    & div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5em;

        & button {
            border: none;
            padding: 0.6em 1em;
        }
    }
}

.filter-by-price > *:not(:last-child) {
    margin-bottom: $vertical-sidebar-padding;
}
