@import '../../styles/shared.scss';

.cart-container {
    padding: $vertical-content-padding $horizontal-content-padding;
    padding-bottom: 3em;
    background-color: #F4F7F9;    

    .cart-nav {
        padding-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cart-nav-btns {

            .continue-btn {
                background-color: $dark-blue;
            }
    
            .continue-btn:hover {
                background-color: $yellow;
            }
    
            .checkout-btn {
                margin-left: 1em;
                background-color: red;
            }
    
            .checkout-btn:hover {
                background-color: $yellow;
            }
        }
    }

    .product-container {
        background-color: #FFFFFF;
        border-radius: $border-radius $border-radius 0 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    .product-container > *:not(:last-child) {
        border-bottom: 0.1px solid $green;
    }

    .product-container:last-child {
        border-bottom: 0.2em solid $green;
    }
}
