$vertical-content-padding: 4.5rem;
$horizontal-content-padding: 12rem;
$horizontal-content-padding-1100px: 8rem;
$horizontal-content-padding-950px: 5rem;
$horizontal-content-padding-865px: 2rem;
$vertical-sidebar-padding: 1.5rem;
$text-color: #676767;
$grey: #2f332f;
$green: #1dbb90;
$yellow: #febc2f;
$blue: #28cdf0;
$dark-blue: #1eaace;
$background-grey: #f4f7f9;
$border-radius: 0.5em;
$divider: 2px solid $background-grey;

// Next cutoff is 800 for mobile
