@import '../../styles/shared.scss';

.header-nav-section {
    position: absolute;
    z-index: 2;
    color: #FFFFFF;
    padding: 2.5em $horizontal-content-padding;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
        margin-top: 0.2em;
    }

    nav {
        margin-top: 1em;
    }

    nav::after {
        content: "";
        display: block;
        margin-top: 1em;
        border-bottom: 0.3em solid #FFFFFF;
        box-shadow: -2px 3px 0px 0px rgba(0, 0, 0, 0.4);
    }

    nav span:not(:last-child) {
        margin-left: 7em;
        margin-right: 1.5em;
    }

    nav .link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 0.2em;
        outline: none;
    }

    nav .link:hover {
        border-bottom: 0.15em solid $blue;
    }

    nav .link:not(:last-child) {
        margin-right: 1.5em;
    }

    .header-nav-icons :not(:first-child) {
        margin-left: 1.5em;
    }
}

