@import '../../styles/shared.scss';

.home-main {

    .home-title {
        text-align: center;
        text-transform: capitalize;
        font-size: 2.8em;
        color: $text-color;
        background-color: $background-grey;
        padding-top: $vertical-content-padding;
    }
}

@media (min-width: 1600px) {
    .home-main {
        .books-container-section {
            .books {
                display: grid;
                grid-template-columns: repeat(4, minmax(12em, 1fr));
            }
        }
    }
}

@media (max-width: 1440px) {
    .home-main {
        .books-container-section {
            .books {
                display: grid;
                grid-template-columns: repeat(4, minmax(12em, 1fr));
            }
        }
    }
}

@media (max-width: 865px) {
    .home-main {
        .books-container-section {
            padding: $vertical-content-padding 2.5rem;
        }
    }
}