@import '../../styles/shared.scss';

.store-sidebar {
    background-color: #FFFFFF;
    margin-left: 3em;
    padding: 0 1.875em;
    border-radius: $border-radius;

    & .book-genres {

        & ul {
            list-style-position: inside;
            line-height: 1.75;
            padding-top: 0.75em;
        }
    }
}

.store-sidebar > * {
    padding: $vertical-sidebar-padding 0;
}

.store-sidebar > *:not(:last-child) {
    border-bottom: $divider;
}

// Mobile design 

@media (max-width: 800px) {
    .store-sidebar {
        display: none;
    }
}