@import '../../styles/shared.scss';

.cart-item {
    display: grid;
    grid-template-columns: 0.5fr minmax(max-content, 1fr) 3fr repeat(3, minmax(max-content, 1fr));
    grid-template-rows: 10em;

    .remove-item {
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 1.5em;
        font-weight: 600;
        color: red;
        margin-left: 1em;
    }

    .item-img {
        img {
            width: 5em;
        }
    }
    
    .item-title {
        display: flex;
        flex-direction: column;
    }

    .item-quantity {
        display: inline-flex;

        input {
            padding: 0.5em 0.5em;
            background-color: rgba(29, 187, 144, 0.3);
            width: 2.75em;
            height: 3em;
            outline: none;
            border: none;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            overflow: hidden;
            white-space: nowrap;
            text-align: end;
        }

        .item-quantity-btns {
            display: flex;
            flex-direction: column;

            button {
                padding: 0.2em 0.1em;
                color: black;
                outline:none;
                -webkit-appearance: none;
                background-color: rgba(29, 187, 144, 0.3);
                border: none;
                align-items: center;
                justify-content: center;
                width: 1.5em;
                height: 1.5em;
                cursor: pointer;
                margin: 0;
                position: relative;
              }
              
            & .up-arrow {
                padding-right: 1em;
                border-top-right-radius: $border-radius;
            }

            & .down-arrow {
                padding-right: 1em;
                border-bottom-right-radius: $border-radius;
            }
        }
    }

// .number-input,
// .number-input * {
//   box-sizing: border-box;
// }

    .item-subtotal {
        font-weight: 600;
    }
}

.cart-item > * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.cart-item-header {
    grid-template-rows: 5em;
    border: none;
    border-radius: $border-radius $border-radius 0 0;
    background-color: $green;
}

.cart-item-header > * {
    background-color: $green;
}

.cart-item-header :first-child {
    border-top-left-radius: $border-radius;
}

.cart-item-header :last-child {
    border-top-right-radius: $border-radius;
}