@import '../../styles/shared.scss';

.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;

    img {
        width: 6em;
    }
}