@import '../../styles/shared.scss';

.footer {
    color: #FFFFFF;
    background-color: $grey;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & a {
        text-decoration: none;
        color: #FFFFFF;
        padding-bottom: 0.2em;
        outline: none;
    }

    & a:hover {
        color: #000000;
    }

    & a:focus {
        outline: 0.2em solid #FFFFFF;
    }

    & a:not(.focus-visible) {
        outline: none;
    }

    & a:not(:first-child) {
        margin-left: 1.5em;
    }

    p {
        margin-top: 1.5em;
    }
}

@media (max-width: 1260px) {
    .footer {
        font-size: 1.2em;
    }
}