@import '../../../styles/shared.scss';

.books-container-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F7F9;
    padding: $vertical-content-padding $horizontal-content-padding;
    color: $text-color;

    & h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin: 0;
        margin-bottom: $vertical-content-padding;
        font-size: 2.8em;
    }

    & a {
        margin-top: $vertical-content-padding;
    }

    .books {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
        gap: 4em;
    }
}