@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Open Sans', sans-serif; SEMI BOLD 600 FONT WEIGHT;
}