@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import './styles/shared.scss';

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Open Sans', sans-serif; SEMI BOLD 600 FONT WEIGHT;
}

// Utility Classes

.button {
    outline: none;
    text-decoration: none;
    color: #ffffff;
    background-color: $green;
    padding: 0.7em 2.5em;
    box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    
    &:hover, &:focus {
        background-color: $yellow;
    }
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}