@import '../../styles/shared.scss';

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 1.25em 2em;
    border-radius: $border-radius;

    .book-img {
        width: 12em;
        height: 17em;
        background-color: $blue;
        border-radius: $border-radius;
    }

    .title-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin: 0.75em 0 0.5em 0;

        h4 {
            font-size: 1em;
            text-transform: capitalize;
            text-align: center;
        }
    }

    p {
        font-size: 0.85em;
    }

    .price-container {
        font-size: 1.15em;
        margin-top: 0.5em;
    }

    & button {
        margin-top: 1em;
        padding: 0.7em 1.5em;
        font-size: 0.9em;
    }
}