@import '../../styles/shared.scss';

.books-container-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-grey;
    padding: $vertical-content-padding $horizontal-content-padding;
    color: $text-color;

    .books {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        gap: 4em;
    }
}